<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/site.css">
        <title>{{title}}</title>
    </head>

    <body>

        <div class="sidenav">
            <a href="/landingPage">Home</a>
            <br>
            <a href="/projectPage">Projects</a>
            <br>
            <a href="/ticketPage">Tickets</a>

        </div>
        <div class="main">
            <p style="text-align:center">Bug Tracker Webite</p>
            <main>
                {{{body}}}
            </main>
            <br>
            <br>
            <br>
            <footer>CS_546_C_groupt_2</footer>
        </div>
    </body>

</html>