<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div class="sidenav">
  <!-- <a href="/src/app/components/login/login.component.html">Login</a> -->

</div>

<div class="main">
    <h2>Login</h2>
    <form [formGroup]= "loginForm" (ngSubmit)="login()" id="signup-form">
      <label>
          Username:
          <input type="text" id="username" name="username" formControlName="username">
          <br><br>
          Password:
          <input type="password" id="password"  name="password" formControlName="password">
          <br><br>
        <div id="errorU" class="error" hidden>I'm an error</div>
        <br><br>
        <button type="submit">Login</button>
      </label>
      
    </form>
    <br><br>
  <p>Not A User Yet? Sign up here</p>
  <!-- <a href="/src/app/components/signup/signup.component.html">Sign Up</a>   -->
  <a href="/signup">Sign Up</a>  
    
  </div>
   
</body>
</html>
