<div class="sidenav">
    <a href="/dashboard">dashboard</a>
    <a href="/projects">Project</a>
    <a  href="/home" >Home</a>
    <div *ngIf="admin">
        <a href="/admin-home">Admin</a>
    </div>
    
    
</div>


<div class = "main">
<h1>Change Password</h1>

<form id = 'changePassword-form' [formGroup] = "changePasswordForm" (ngSubmit) = "changePassword()" >

    <mat-form-field class="input-width" appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" id="oldPassword">
    </mat-form-field>
    <br><br>

    <mat-form-field class="input-width" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" id="newPassword">
    </mat-form-field>

    <div>
        <br><br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">Confirm</button> 
    </div>
</form>




</div>
