<!-- <h1>Welcome {{currentUser.username}}, you have admin priviledges</h1> -->
<a href="/changePassword">Change Password</a>
<div id="bar">
  <button mat-raised-button color="primary"(click)="logout()" >Logout</button>
  <!-- <button mat-raised-button color="primary" >All Projects</button> -->
  <!-- <button mat-raised-button color="primary" >All Developers</button> -->

  <a mat-raised-button color="primary" href="/ticket/create">Create Ticket</a>

  <!-- <button mat-raised-button color="primary" (click)="showTicketsButtonClicked()">All tickets</button> -->

  <!-- <button mat-raised-button color="primary" (click)="showAssigntoUserButtonClicked()">Assign tickets</button> -->

  <!-- <button mat-raised-button color="primary" (click)="showRemoveUserButtonClicked()">Remove tickets</button> -->

  <!-- <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Sorted Tickets</button>
  <mat-menu #menu="matMenu">
    <button (click)="showTicketsSortedByPriority()" mat-menu-item>Priority</button>
    <button (click)="showTicketsSortedbyProject()" mat-menu-item>Project</button>
    <button (click)="showTicketsSortedbyErrorType()" mat-menu-item>Error Type</button>
  </mat-menu> -->


  <!-- <form [formGroup]="searchTicketForm" (ngSubmit)="searchTicket()">
    <mat-form-field class="input-width" appearance="fill" >
      <mat-label>Search</mat-label>
      <input matInput formControlName="phrase" id="phrase">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>

  <div *ngIf="showNoInput" class="alert">
    Search Phrase not provided
  </div> -->

  <!-- <div *ngIf="showEmptySpace" class="alert">
    Search Phrase cannot be empty spaces
  </div> -->

  <ol id="pending-tickets">
      <li>pending tickets</li>
  </ol>

</div>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="All Users">
    <mat-form-field class="input-width" appearance="fill" >
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Search from users, tickets, projects">
    </mat-form-field>
    <h2 class="table_head">Admins</h2>
    <table mat-table [dataSource]="adminUsers" id="ticket_table">
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="Username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element">{{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="Projects">
          <th mat-header-cell *matHeaderCellDef> Projects </th>
          <td mat-cell *matCellDef="let element">  
            <div *ngIf ="element.assignedProjects[0]; else none">
              <mat-form-field appearance="fill" class="input-width" class="tickets">
                <mat-label>({{element.assignedProjects.length}}): {{element.assignedProjects[0].projectName}}</mat-label>
                <mat-select>
                  <mat-option *ngFor="let project of element.assignedProjects" >
                    {{project.projectName}}
                  </mat-option>
                </mat-select>
              </mat-form-field> 
            </div>
            <ng-template #none>No projects</ng-template>
          </td>
      </ng-container>

      <ng-container matColumnDef="Tickets">
          <th mat-header-cell *matHeaderCellDef> Tickets </th>
          <td mat-cell *matCellDef="let element"> 
            <div *ngIf ="element.assignedTickets[0]; else none">
              <mat-form-field appearance="fill" class="input-width" class="tickets">
                <mat-label>({{element.assignedTickets.length}}): {{element.assignedTickets[0].title}}</mat-label>
                <mat-select>
                  <mat-option *ngFor="let ticket of element.assignedTickets" >
                    {{ticket.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <ng-template #none>None assigned</ng-template>
            </td>
      </ng-container>

      <ng-container matColumnDef="Created Tickets">
        <th mat-header-cell *matHeaderCellDef> Created Tickets </th>
        <td mat-cell *matCellDef="let element"> 
          <div *ngIf ="element.createdTickets[0]; else none">
            <mat-form-field appearance="fill" class="input-width" class="tickets">
              <mat-label>({{element.createdTickets.length}}): {{element.createdTickets[0].title}}</mat-label>
              <mat-select>
                <mat-option *ngFor="let ticket of element.createdTickets" >
                  {{ticket.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> 
          <ng-template #none>None created</ng-template>
        </td>
      </ng-container>

       <ng-container matColumnDef="deleteButton">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
              <button mat-raised-button color="warn" (click)="openDialog(element._id,'user')">Delete</button> 
          </td>
      </ng-container> 

      <tr mat-header-row *matHeaderRowDef=userColumns></tr>
      <tr mat-row *matRowDef="let row; columns: userColumns;"></tr>
    </table>
    <h2 class="table_head">Developers</h2>
    <table mat-table [dataSource]="developerUsers" id="ticket_table">
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="Username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element">{{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="Projects">
          <th mat-header-cell *matHeaderCellDef> Projects </th>
          <td mat-cell *matCellDef="let element">  
            <div *ngIf ="element.assignedProjects[0]; else none">
              <mat-form-field appearance="fill" class="input-width" class="tickets">
                <mat-label>({{element.assignedProjects.length}}): {{element.assignedProjects[0].projectName}}</mat-label>
                <mat-select>
                  <mat-option *ngFor="let project of element.assignedProjects" >
                    {{project.projectName}}
                  </mat-option>
                </mat-select>
              </mat-form-field> 
            </div>
            <ng-template #none>No projects</ng-template>
          </td>
      </ng-container>

      <ng-container matColumnDef="Tickets">
          <th mat-header-cell *matHeaderCellDef> Tickets </th>
          <td mat-cell *matCellDef="let element"> 
            <div *ngIf ="element.assignedTickets[0]; else none">
              <mat-form-field appearance="fill" class="input-width" class="tickets">
                <mat-label>({{element.assignedTickets.length}}): {{element.assignedTickets[0].title}}</mat-label>
                <mat-select>
                  <mat-option *ngFor="let ticket of element.assignedTickets" >
                    {{ticket.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <ng-template #none>None assigned</ng-template>
            </td>
      </ng-container>

      <ng-container matColumnDef="Created Tickets">
        <th mat-header-cell *matHeaderCellDef> Created Tickets </th>
        <td mat-cell *matCellDef="let element"> 
          <div *ngIf ="element.createdTickets[0]; else none">
            <mat-form-field appearance="fill" class="input-width" class="tickets">
              <mat-label>({{element.createdTickets.length}}): {{element.createdTickets[0].title}}</mat-label>
              <mat-select>
                <mat-option *ngFor="let ticket of element.createdTickets" >
                  {{ticket.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> 
          <ng-template #none>None created</ng-template>
        </td>
      </ng-container>

       <ng-container matColumnDef="deleteButton">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
              <button mat-raised-button color="warn" (click)="openDialog(element._id,'user')">Delete</button> 
          </td>
      </ng-container> 

      <tr mat-header-row *matHeaderRowDef=userColumns></tr>
      <tr mat-row *matRowDef="let row; columns: userColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="All tickets">

    <mat-form-field class="input-width" appearance="fill" >
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyTicketFilter($event.target)" placeholder="Search from titles, descriptions, errorTypes">
    </mat-form-field>

    <!-- <h2>Search for Tickets</h2>
    <form [formGroup]="searchTicketForm" (ngSubmit)="searchTicket()">
      <mat-form-field class="input-width" appearance="fill" >
        <mat-label>Search</mat-label>
        <input matInput formControlName="phrase" id="phrase">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form> -->

    <!-- <div *ngIf="showNoInput" class="alert">
      Search Phrase not provided
    </div>
  
    <div *ngIf="showEmptySpace" class="alert">
      Search Phrase cannot be empty spaces
    </div> -->

    <h2 class="table_head">Opening Tickets</h2>
    <table mat-table [dataSource]="ticketsOpeningDataSource" id="ticket_table">

      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> <a mat-button href="/ticket/{{element._id}}">{{element.title}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="Creator">
          <th mat-header-cell *matHeaderCellDef> Creator </th>
          <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="Project">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let element"> {{element.project}} </td>
      </ng-container>

      <ng-container matColumnDef="errorType">
        <th mat-header-cell *matHeaderCellDef> Error Type </th>
        <td mat-cell *matCellDef="let element"> {{element.errorType}} </td>
      </ng-container>

      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef> Created Time </th>
        <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
      </ng-container>

      <ng-container matColumnDef="deleteButton">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <a mat-raised-button color="primary" href="/ticket/edit/{{element._id}}" class="gotoEdit">Edit</a>
            <button mat-raised-button color="warn" (click)="openDialog(element._id,'ticket')">Delete</button> 
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <h2 class="table_head">Tickets Ready to Close</h2>
    <table mat-table [dataSource]="ticketsReadytoCloseDataSource" id="ticket_table">
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> <a mat-button href="/ticket/{{element._id}}">{{element.title}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="Creator">
          <th mat-header-cell *matHeaderCellDef> Creator </th>
          <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="Project">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let element"> {{element.project}} </td>
      </ng-container>

      <ng-container matColumnDef="errorType">
        <th mat-header-cell *matHeaderCellDef> Error Type </th>
        <td mat-cell *matCellDef="let element"> {{element.errorType}} </td>
      </ng-container>

      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef> Created Time </th>
        <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
      </ng-container>

      <ng-container matColumnDef="deleteButton">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="warn" (click)="closeTicket(element._id)">Close</button> 
              <a mat-raised-button color="primary" href="/ticket/edit/{{element._id}}" class="gotoEdit">Edit</a>
              <button mat-raised-button color="warn" (click)="openDialog(element._id,'ticket')">Delete</button> 
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <h2 class="table_head">Closed Tickets</h2>
    <table mat-table [dataSource]="ticketsClosedDataSource" id="ticket_table">
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> <a mat-button href="/ticket/{{element._id}}">{{element.title}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="Creator">
          <th mat-header-cell *matHeaderCellDef> Creator </th>
          <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="Project">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let element"> {{element.project}} </td>
      </ng-container>

      <ng-container matColumnDef="errorType">
        <th mat-header-cell *matHeaderCellDef> Error Type </th>
        <td mat-cell *matCellDef="let element"> {{element.errorType}} </td>
      </ng-container>

      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef> Created Time </th>
        <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
      </ng-container>

      <ng-container matColumnDef="deleteButton">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
              <a mat-raised-button color="primary" href="/ticket/edit/{{element._id}}" class="gotoEdit">Edit</a>
              <button mat-raised-button color="warn" (click)="openDialog(element._id,'ticket')">Delete</button> 
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <div *ngIf="showNotFound" class="alert">
      NoTicketsFound
    </div>
    <div id="search_results" *ngIf = "showSearchresult">
      <h2 class="table_head">Search Result</h2>
        <table mat-table [dataSource]="ticketsSearchResultDataSource" id="ticket_table">
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.No}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> <a mat-button href="/ticket/{{element._id}}">{{element.title}}</a> </td>
          </ng-container>
    
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Creator">
              <th mat-header-cell *matHeaderCellDef> Creator </th>
              <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Project">
            <th mat-header-cell *matHeaderCellDef> Project </th>
            <td mat-cell *matCellDef="let element"> {{element.project}} </td>
          </ng-container>
    
          <ng-container matColumnDef="errorType">
            <th mat-header-cell *matHeaderCellDef> Error Type </th>
            <td mat-cell *matCellDef="let element"> {{element.errorType}} </td>
          </ng-container>
    
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef> Created Time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
          </ng-container>
    
          <ng-container matColumnDef="deleteButton">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> 
                  <a mat-raised-button color="primary" href="/ticket/edit/{{element._id}}" class="gotoEdit">Edit</a>
                  <button mat-raised-button color="warn" (click)="openDialog(element._id,'ticket')">Delete</button> 
              </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div> -->

  </mat-tab>
  <mat-tab label="Assign Tickets">
    <form id="assignTicket-form" [formGroup]= "assignTicketForm" (ngSubmit)="assignTicket()">
      <mat-form-field appearance="fill" class="input-width" class="tickets">
          <mat-label>Tickets</mat-label>
          <mat-select formControlName="ticketId" id="ticketId">
            <mat-option *ngFor="let ticket of tickets" value="{{ticket._id}}">
              {{ticket.title}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <div *ngIf="assignTicketForm.controls['ticketId'].invalid && (assignTicketForm.controls['ticketId'].dirty || assignTicketForm.controls['ticketId'].touched)" class="alert">
          <div *ngIf="assignTicketForm.controls['ticketId'].errors?.['required']">
            Please choose a ticket
          </div>
      </div>

      <br><br>

      <mat-form-field appearance="fill" class="input-width" class="users" *ngIf="showAssignDevs">
          <mat-label>Users</mat-label>
          <mat-select formControlName="userId" id="userId">
            <mat-option *ngFor="let user of users" value="{{user._id}}">
              {{user.username}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <br><br>

      <mat-checkbox (change)="assignAdmin($event.checked)">Assign Myself</mat-checkbox>

      <div *ngIf="assignTicketForm.controls['userId'].invalid && (assignTicketForm.controls['userId'].dirty || assignTicketForm.controls['userId'].touched)" class="alert">
          <div *ngIf="assignTicketForm.controls['userId'].errors?.['required']">
            Please choose a user
          </div>
      </div>
      
      <br><br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!assignTicketForm.valid">Confirm</button>

      <div *ngIf="haveBeenAssigned" class="alert">
          User has been Assigned
      </div>

  </form>
  </mat-tab>
  <mat-tab label="Unassign Tickets">
    <form id="removeTicket-form" [formGroup]= "removeTicketForm" (ngSubmit)="removeTicket()">
      <mat-form-field appearance="fill" class="input-width" class="tickets">
          <mat-label>Tickets</mat-label>
          <mat-select formControlName="ticketId" id="ticketId" (selectionChange)="getAssignedUsers()">
            <mat-option *ngFor="let ticket of tickets" value="{{ticket._id}}">
              {{ticket.title}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <div *ngIf="removeTicketForm.controls['ticketId'].invalid && (removeTicketForm.controls['ticketId'].dirty || removeTicketForm.controls['ticketId'].touched)" class="alert">
          <div *ngIf="removeTicketForm.controls['ticketId'].errors?.['required']">
            Please choose a ticket
          </div>
      </div>

      <br><br>

      <mat-form-field appearance="fill" class="input-width" class="users" *ngIf="showAssignedUsers">
          <mat-label>Users</mat-label>
          <mat-select formControlName="userId" id="userId">
            <mat-option *ngFor="let user of assignedusers" value="{{user._id}}">
              {{user.username}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <div *ngIf="removeTicketForm.controls['userId'].invalid && (removeTicketForm.controls['userId'].dirty || removeTicketForm.controls['userId'].touched)" class="alert">
          <div *ngIf="removeTicketForm.controls['userId'].errors?.['required']">
            Please choose a user
          </div>
      </div>
      
      <br><br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!removeTicketForm.valid">Confirm</button>

      <div *ngIf="noAssignedUsers" class="alert">
          This ticket have no assigned users
      </div>

  </form>
  </mat-tab>
  <mat-tab label="Assign Projects">
    <form id="assignProject-form" [formGroup]= "assignProjectForm" (ngSubmit)="assignProject()">
      <mat-form-field appearance="fill" class="input-width" class="tickets">
          <mat-label>Projects</mat-label>
          <mat-select formControlName="projectId" id="projectId">
            <mat-option *ngFor="let project of projects" value="{{project._id}}">
              {{project.projectName}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <div *ngIf="assignProjectForm.controls['projectId'].invalid && (assignProjectForm.controls['projectId'].dirty || assignProjectForm.controls['projectId'].touched)" class="alert">
          <div *ngIf="assignProjectForm.controls['projectId'].errors?.['required']">
            Please choose a Project
          </div>
      </div>

      <br><br>

      <mat-form-field appearance="fill" class="input-width" class="users">
          <mat-label>Users</mat-label>
          <mat-select formControlName="userId" id="userId">
            <mat-option *ngFor="let user of users" value="{{user._id}}">
              {{user.username }}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <div *ngIf="assignProjectForm.controls['userId'].invalid && (assignProjectForm.controls['userId'].dirty || assignProjectForm.controls['userId'].touched)" class="alert">
          <div *ngIf="assignProjectForm.controls['userId'].errors?.['required']">
            Please choose a user
          </div>
      </div>
      
      <br><br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!assignProjectForm.valid">Confirm</button>

      <div *ngIf="haveBeenAssigned" class="alert">
          User has been Assigned
      </div>

  </form>
  </mat-tab>
  <mat-tab label="Unassign Projects">
    <form id="removeProject-form" [formGroup]= "removeProjectForm" (ngSubmit)="removeProject()">
      <mat-form-field appearance="fill" class="input-width" class="tickets">
          <mat-label>Users</mat-label>
          <mat-select formControlName="userId" id="userId" (selectionChange)="getAssignedProjects()">
            <mat-option *ngFor="let developer of users" value="{{developer._id}}">
              {{developer.username}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <div *ngIf="removeProjectForm.controls['userId'].invalid && (removeProjectForm.controls['userId'].dirty || removeProjectForm.controls['userId'].touched)" class="alert">
          <div *ngIf="removeProjectForm.controls['userId'].errors?.['required']">
            Please choose a User
          </div>
      </div>

      <br><br>

      <mat-form-field appearance="fill" class="input-width" class="users" *ngIf="showAssignedProjects">
          <mat-label>Projects</mat-label>
          <mat-select formControlName="projectId" id="projectId">
            <mat-option *ngFor="let project of assignedProjects" value="{{project._id}}">
              {{project.projectName}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <div *ngIf="removeTicketForm.controls['userId'].invalid && (removeTicketForm.controls['userId'].dirty || removeTicketForm.controls['userId'].touched)" class="alert">
          <div *ngIf="removeTicketForm.controls['userId'].errors?.['required']">
            Please choose a Project
          </div>
      </div>
      
      <br><br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!removeProjectForm.valid">Confirm</button>

      <div *ngIf="noAssignedProjects" class="alert">
          This user have no assigned projects
      </div>

  </form>
  </mat-tab>  

  <mat-tab label="Sorted Tickets">
    <form id="selectSortType-form" [formGroup]= "selectSortTypeForm" (ngSubmit)="showSortedTickets()">
      <mat-form-field appearance="fill" class="input-width">
        <mat-label>Sort Type</mat-label>
        <mat-select formControlName="type" id="type">
          <mat-option value="priority"> Priority </mat-option>
          <mat-option value="project"> Project </mat-option>
          <mat-option value="errorType"> Error Type </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!selectSortTypeForm.valid">Confirm</button>
    
    </form>
    <div id="tickets_by_priority" *ngIf = "showTicketsbyPriority">
      <h2 class="table_head">Most Important (Priority 3)</h2>
        <table mat-table [dataSource]="Priority3DataSource" id="ticket_table">
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.No}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> <a mat-button href="/ticket/{{element._id}}">{{element.title}}</a> </td>
          </ng-container>
    
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Creator">
              <th mat-header-cell *matHeaderCellDef> Creator </th>
              <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Project">
            <th mat-header-cell *matHeaderCellDef> Project </th>
            <td mat-cell *matCellDef="let element"> {{element.project}} </td>
          </ng-container>
    
          <ng-container matColumnDef="errorType">
            <th mat-header-cell *matHeaderCellDef> Error Type </th>
            <td mat-cell *matCellDef="let element"> {{element.errorType}} </td>
          </ng-container>
    
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef> Created Time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
          </ng-container>
    
          <ng-container matColumnDef="deleteButton">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> 
                  <a mat-raised-button color="primary" href="/ticket/edit/{{element._id}}" class="gotoEdit">Edit</a>
                  <button mat-raised-button color="warn" (click)="openDialog(element._id,'ticket')">Delete</button> 
              </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <h2 class="table_head">Median Important (Priority 2)</h2>
        <table mat-table [dataSource]="Priority2DataSource" id="ticket_table">
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.No}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> <a mat-button href="/ticket/{{element._id}}">{{element.title}}</a> </td>
          </ng-container>
    
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Creator">
              <th mat-header-cell *matHeaderCellDef> Creator </th>
              <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Project">
            <th mat-header-cell *matHeaderCellDef> Project </th>
            <td mat-cell *matCellDef="let element"> {{element.project}} </td>
          </ng-container>
    
          <ng-container matColumnDef="errorType">
            <th mat-header-cell *matHeaderCellDef> Error Type </th>
            <td mat-cell *matCellDef="let element"> {{element.errorType}} </td>
          </ng-container>
    
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef> Created Time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
          </ng-container>
    
          <ng-container matColumnDef="deleteButton">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> 
                  <a mat-raised-button color="primary" href="/ticket/edit/{{element._id}}" class="gotoEdit">Edit</a>
                  <button mat-raised-button color="warn" (click)="openDialog(element._id,'ticket')">Delete</button> 
              </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
      <h2 class="table_head">Less Important (Priority 1)</h2>
        <table mat-table [dataSource]="Priority1DataSource" id="ticket_table">
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.No}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> <a mat-button href="/ticket/{{element._id}}">{{element.title}}</a> </td>
          </ng-container>
    
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Creator">
              <th mat-header-cell *matHeaderCellDef> Creator </th>
              <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Project">
            <th mat-header-cell *matHeaderCellDef> Project </th>
            <td mat-cell *matCellDef="let element"> {{element.project}} </td>
          </ng-container>
    
          <ng-container matColumnDef="errorType">
            <th mat-header-cell *matHeaderCellDef> Error Type </th>
            <td mat-cell *matCellDef="let element"> {{element.errorType}} </td>
          </ng-container>
    
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef> Created Time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
          </ng-container>
    
          <ng-container matColumnDef="deleteButton">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> 
                  <a mat-raised-button color="primary" href="/ticket/edit/{{element._id}}" class="gotoEdit">Edit</a>
                  <button mat-raised-button color="warn" (click)="openDialog(element._id,'ticket')">Delete</button> 
              </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    
    <div id="tickets_by_project" *ngIf = "showTicketsbyProject">
      <h2 class="table_head">Tickets</h2>
        <table mat-table [dataSource]="ticketsbyProjectDataSource" id="ticket_table">
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.No}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> <a mat-button href="/ticket/{{element._id}}">{{element.title}}</a> </td>
          </ng-container>
    
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Creator">
              <th mat-header-cell *matHeaderCellDef> Creator </th>
              <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Project">
            <th mat-header-cell *matHeaderCellDef> Project </th>
            <td mat-cell *matCellDef="let element"> {{element.project}} </td>
          </ng-container>
    
          <ng-container matColumnDef="errorType">
            <th mat-header-cell *matHeaderCellDef> Error Type </th>
            <td mat-cell *matCellDef="let element"> {{element.errorType}} </td>
          </ng-container>
    
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef> Created Time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
          </ng-container>
    
          <ng-container matColumnDef="deleteButton">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> 
                  <a mat-raised-button color="primary" href="/ticket/edit/{{element._id}}" class="gotoEdit">Edit</a>
                  <button mat-raised-button color="warn" (click)="openDialog(element._id,'ticket')">Delete</button> 
              </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <div id="tickets_by_errorType" *ngIf = "showTicketsbyErrorType">
      <h2 class="table_head">Tickets</h2>
        <table mat-table [dataSource]="ticketsbyErrorTypeDataSource" id="ticket_table">
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.No}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> <a mat-button href="/ticket/{{element._id}}">{{element.title}}</a> </td>
          </ng-container>
    
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Creator">
              <th mat-header-cell *matHeaderCellDef> Creator </th>
              <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Project">
            <th mat-header-cell *matHeaderCellDef> Project </th>
            <td mat-cell *matCellDef="let element"> {{element.project}} </td>
          </ng-container>
    
          <ng-container matColumnDef="errorType">
            <th mat-header-cell *matHeaderCellDef> Error Type </th>
            <td mat-cell *matCellDef="let element"> {{element.errorType}} </td>
          </ng-container>
    
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef> Created Time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
          </ng-container>
    
          <ng-container matColumnDef="deleteButton">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> 
                  <a mat-raised-button color="primary" href="/ticket/edit/{{element._id}}" class="gotoEdit">Edit</a>
                  <button mat-raised-button color="warn" (click)="openDialog(element._id,'ticket')">Delete</button> 
              </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

  </mat-tab>
</mat-tab-group> 