<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div class="sidenav">
    <a href="/dashboard">dashboard</a>
    <a href="/projects">Project</a>
    <a href="/ticket">Ticket</a>
</div>

<div class="main">
    <h2>Create A New Ticket</h2>
    <form id="createTicket-form" [formGroup]= "createTicketForm" (ngSubmit)="createTicket()">
      <label>
        Ticket Title:
        <input type="text" id="title" name="title" value="" formControlName="title">
        <div *ngIf="createTicketForm.controls['title'].invalid && (createTicketForm.controls['title'].dirty || createTicketForm.controls['title'].touched)" class="alert">
        <div *ngIf="createTicketForm.controls['title'].errors?.['required']">
          Please enter ticket title
        </div>
        <div *ngIf="createTicketForm.controls['title'].errors?.['minlength']">
          Ticket title must be at least 4 characters long
        </div>
        <div *ngIf="createTicketForm.controls['title'].errors?.['maxlength']">
          Ticket title cannot be more than 20 characters long
        </div>
        <div *ngIf="createTicketForm.controls['title'].errors?.['onlywhitespace']">Title can not contain just spaces</div>
      </div>
        <br><br>
        Description :
        <input type="text" id="description"  name="description" value="" formControlName="description">
        <div *ngIf="createTicketForm.controls['description'].invalid && (createTicketForm.controls['description'].dirty || createTicketForm.controls['description'].touched)" class="alert">
          <div *ngIf="createTicketForm.controls['description'].errors?.['required']">
            Please enter ticket description
          </div>
          <div *ngIf="createTicketForm.controls['description'].errors?.['minlength']">
            Ticket description must be at least 4 characters long
          </div>
          <div *ngIf="createTicketForm.controls['description'].errors?.['maxlength']">
            Ticket description cannot be more than 100 characters long
          </div>
          <div *ngIf="createTicketForm.controls['description'].errors?.['onlywhitespace']">Description can not contain just spaces</div>
        </div>
        <br><br>
      <!-- <div id="errorU" class="error" hidden>I'm an error</div> -->
    </label>
      <label>
        Priority
      </label>
      <select class="full-width-input" name="priority" formControlName="priority">
          <option style="display:none"></option>
          <option value='1'>1 (less important)</option>
          <option value='2'>2 (medium important)</option>
          <option value='3'>3 (most important)</option>
      </select>
      <div *ngIf="createTicketForm.controls['priority'].invalid && (createTicketForm.controls['priority'].dirty || createTicketForm.controls['priority'].touched)" class="alert">
        <div *ngIf="createTicketForm.controls['priority'].errors?.['required']">
          Please choose ticket priority
        </div>
      </div>
    <br><br>
    <label>Bug Type
      <input list="browsers" class="full-width-input" name="errorType" value="" formControlName="errorType"/></label>
      <datalist id="browsers">
              <option style="display:none"></option>
              <option value="Functional errors">Functional errors</option>
              <option value='Performance defects'>Performance defects</option>
              <option value='Usability defects'>Usability defects</option>
              <option value='Compatibility defects'>Compatibility defects</option>
              <option value='Security defects'>Security defects</option>
              <option value='Syntax errors'>Syntax errors</option>
              <option value='Logic errors'>Logic errors</option>
              <option value='Unit-level bugs'>Unit-level bugs</option>
              <option value='System-level integration bugs'>System-level integration bugs</option>
              <option value='Code Duplication'>Code Duplication</option>
              <option value='Data Type Mismatch'>Data Type Mismatch</option>
      </datalist>
      <div *ngIf="createTicketForm.controls['errorType'].invalid && (createTicketForm.controls['errorType'].dirty || createTicketForm.controls['errorType'].touched)" class="alert">
        <div *ngIf="createTicketForm.controls['errorType'].errors?.['required']">
          Please enter ticket errorType
        </div>
        <div *ngIf="createTicketForm.controls['errorType'].errors?.['minlength']">
          Ticket errorType must be at least 4 characters long
        </div>
        <div *ngIf="createTicketForm.controls['errorType'].errors?.['maxlength']">
          Ticket errorType cannot be more than 20 characters long
        </div>
        <div *ngIf="createTicketForm.controls['errorType'].errors?.['onlywhitespace']">ErrorType can not contain just spaces</div>
      </div>
      <br><br>
      <label>
        Project
      </label>
      <select class="full-width-input" name="project" formControlName="project">
          <option style="display:none"></option>
          <option value='p1'>Static Project 1</option>
          <option value='p2'>Static Project 2</option>
          <option value='p3'>Static Project 3</option>
      </select>

      <div *ngIf="createTicketForm.controls['project'].invalid && (createTicketForm.controls['project'].dirty || createTicketForm.controls['project'].touched)" class="alert">
        <div *ngIf="createTicketForm.controls['project'].errors?.['required']">
          Please choose ticket priority
        </div>
      </div>

      <br><br>
    <br><br>
      <button type="submit" [disabled]="!createTicketForm.valid">Create</button>
      &nbsp;&nbsp;&nbsp;
      <button type="reset">Clear</button>      
    </form>

</div>
   
</body>
</html>
