<!-- <div class="sidenav">
  <a href="/dashboard">dashboard</a>
  <a href="/projects">Project</a>
  <a href="/ticket">Ticket</a>
</div>

<div class='main'>
  <div style="height:300px;width:70px;overflow:auto;background:#EEEEEE;">
    
    hello
  </div>
  
  
</div> -->
<p>This is a chart</p>
<div style="display: block;">
  <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>
<!-- <div id ='divChart'>
  <canvas id = "myChart"></canvas>
</div> -->