#editTicket-form {
    width: 100%;
}

.input-width {
    width: 30%;
}

.main {
    margin-left: 180px;
}

h1 {
    margin-top: 20px;
}

.alert {
    color: red;
}

.mat-raised-button:disabled{
    background-color: black;
    color: white;
}

  
