<div class="sidenav">
  <a href="/projects">Project</a>
  <div *ngIf="!admin">
      <a  href="/home" >Home</a>
  </div>
  
  <div *ngIf="admin">
      <a href="/admin-home">Admin</a>
  </div> 
</div>

<div class="main">

<h1>Edit Ticket</h1>
<form id="editTicket-form" [formGroup]= "editTicketForm" (ngSubmit)="updateTicket()">
    <div>
    <mat-form-field class="input-width" appearance="fill">
        <mat-label>Ticket Title</mat-label>
        <input matInput formControlName="title" id="title">
    </mat-form-field>

    <div *ngIf="editTicketForm.controls['title'].invalid && (editTicketForm.controls['title'].dirty || editTicketForm.controls['title'].touched)" class="alert">
        <div *ngIf="editTicketForm.controls['title'].errors?.['required']">
          Please enter ticket title
        </div>
        <div *ngIf="editTicketForm.controls['title'].errors?.['minlength']">
          Ticket title must be at least 4 characters long
        </div>
        <div *ngIf="editTicketForm.controls['title'].errors?.['maxlength']">
          Ticket title cannot be more than 30 characters long
        </div>
        <div *ngIf="editTicketForm.controls['title'].errors?.['onlywhitespace']">Title can not contain just spaces</div>
    </div>

    <br><br>

    <mat-form-field class="input-width" appearance="fill" >
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" id="description">
    </mat-form-field>

    <div *ngIf="editTicketForm.controls['description'].invalid && (editTicketForm.controls['description'].dirty || editTicketForm.controls['description'].touched)" class="alert">
        <div *ngIf="editTicketForm.controls['description'].errors?.['required']">
          Please enter ticket description
        </div>
        <div *ngIf="editTicketForm.controls['description'].errors?.['minlength']">
          Ticket description must be at least 4 characters long
        </div>
        <div *ngIf="editTicketForm.controls['description'].errors?.['maxlength']">
          Ticket description cannot be more than 100 characters long
        </div>
        <div *ngIf="editTicketForm.controls['description'].errors?.['onlywhitespace']">Description can not contain just spaces</div>
    </div>
    <br><br>

    <mat-form-field appearance="fill" class="input-width">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority" id="priority">
          <mat-option value="1">1 (less important)</mat-option>
          <mat-option value="2">2 (medium important)</mat-option>
          <mat-option value="3">3 (most important)</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="editTicketForm.controls['priority'].invalid && (editTicketForm.controls['priority'].dirty || editTicketForm.controls['priority'].touched)" class="alert">
        <div *ngIf="editTicketForm.controls['priority'].errors?.['required']">
          Please choose ticket priority
        </div>
    </div>

    <br><br>

    </div>

    <div>
        <mat-form-field appearance="fill" class="input-width">
            <mat-label>Project</mat-label>
            <mat-select formControlName="project" id="project">
              <mat-option *ngFor="let project of projectlist" value="{{project._id}}">
                {{project.projectName}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="editTicketForm.controls['project'].invalid && (editTicketForm.controls['project'].dirty || editTicketForm.controls['project'].touched)" class="alert">
            <div *ngIf="editTicketForm.controls['project'].errors?.['required']">
              Please choose ticket project
            </div>
        </div>

        <br><br>

        <mat-form-field appearance="fill" class="input-width">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" id="status">
              <mat-option value="open">Open</mat-option>
              <mat-option value="ready_to_close">Ready to Close</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="editTicketForm.controls['status'].invalid && (editTicketForm.controls['status'].dirty || editTicketForm.controls['status'].touched)" class="alert">
            <div *ngIf="editTicketForm.controls['status'].errors?.['required']">
              Please choose ticket status
            </div>
        </div>

        <br><br>

        <mat-form-field class="input-width" appearance="fill">
            <mat-label>Error Type</mat-label>
            <input type="text"
                   aria-label="Error Type"
                   matInput
                   [matAutocomplete]="auto"
                   formControlName="errorType" 
                   id="errorType">
            <mat-autocomplete autoActiveFirstmat-option #auto="matAutocomplete">
                <mat-option value="Functional errors">Functional errors</mat-option>
                <mat-option value='Performance defects'>Performance defects</mat-option>
                <mat-option value='Usability defects'>Usability defects</mat-option>
                <mat-option value='Compatibility defects'>Compatibility defects</mat-option>
                <mat-option value='Security defects'>Security defects</mat-option>
                <mat-option value='Syntax errors'>Syntax errors</mat-option>
                <mat-option value='Logic errors'>Logic errors</mat-option>
                <mat-option value='Unit-level bugs'>Unit-level bugs</mat-option>
                <mat-option value='System-level integration bugs'>System-level integration bugs</mat-option>
                <mat-option value='Code Duplication'>Code Duplication</mat-option>
                <mat-option value='Data Type Mismatch'>Data Type Mismatch</mat-option>
            </mat-autocomplete>
          </mat-form-field>
    
        <div *ngIf="editTicketForm.controls['errorType'].invalid && (editTicketForm.controls['errorType'].dirty || editTicketForm.controls['errorType'].touched)" class="alert">
            <div *ngIf="editTicketForm.controls['errorType'].errors?.['required']">
              Please enter ticket errorType
            </div>
            <div *ngIf="editTicketForm.controls['errorType'].errors?.['minlength']">
              Ticket errorType must be at least 4 characters long
            </div>
            <div *ngIf="editTicketForm.controls['errorType'].errors?.['maxlength']">
              Ticket errorType cannot be more than 30 characters long
            </div>
            <div *ngIf="editTicketForm.controls['errorType'].errors?.['onlywhitespace']">ErrorType can not contain just spaces</div>
        </div>

    </div>

    

    <div>
        <br><br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!editTicketForm.valid">Confirm</button> 
    </div>

</form>
</div>