<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div class="sidenav">
  <a href="/login">Login</a>

</div>

<div class="main">
  <h2>Sign Up</h2>
  <form [formGroup]= "signupForm" (ngSubmit)="signup()" id="signup-form">
    
      <label for="username">
        Username:
      </label>
      <input type="text" id="username" name="username"  autocomplete="username" formControlName="username">
      <br><br>
      <label for="username">
        Password:
      </label>
      <input type="password" id="password"  autocomplete="new-password" formControlName="password" >
      <br><br>
      <label>
        Role:
      </label>
      <br><br>
      <mat-radio-group aria-label="Select an option" (change)="radioChange($event.value)">
        <mat-radio-button value="1" selected>Developer</mat-radio-button>
        <br><br><br>
        <mat-radio-button value="2">Admin</mat-radio-button>
      </mat-radio-group>

      <br><br>
      <div *ngIf="adminPassShow">
        <label>
          Admin Access Password:
        </label>
        <input type="password"  name="adminPassword" formControlName="adminAccess" autocomplete="current-password">
        <br><br>
      </div>
     
    <div id="errorU" class="error" hidden>I'm an error</div>
    <br><br>
    <button type="submit">Login</button>
  </form>
</div>
   
</body>
</html> 