<form action="/login" method="get" target="_blank">
  <label for="fname">username:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">password:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Login">
</form>
<br>
<br>
<p>Not a User Yet? Sign Up Here</p>
<a href="/signupPage">Sign Up</a>