<div class="sidenav">
  <a href="/dashboard">dashboard</a>
  <a href="/projects">Project</a>
  <a href="/ticket">Ticket</a>
</div>

<div class="main">
  <p>projects-home works!</p>

  <a href="/projects/create" mat-raised-button color="primary"
    >Create a Project</a
  >&nbsp;
  <button class="fa fa-search"></button>

  <div>
    <table style="margin-top: 50px">
      <thead style="font-size: 14px">
        <tr mat-header-cell>
          <td>Project Name</td>
          <td>Description</td>
          <td style="border: none"></td>
          <td style="border: none"></td>
        </tr>
        <tr>
          <td colspan="4"><hr style="width: 1340px" /></td>
        </tr>
      </thead>
      <tbody style="font-size: 14px">
        <tr mat-header-cell *ngFor="let item of projects">
          <td>{{ item.projectName }}</td>
          <td>{{ item.description }}</td>
          <td><button>Manage Users</button></td>
          <td><button>Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
